<!-- Header Bar -->
<div>
  <md-toolbar class="md-toolbar">
    <div class="md-toolbar-tools">
      <h2>B<i class="fa fa-bullseye"></i>NI</h2>
      <span flex></span>
      <md-button href="/sdk">SDK</md-button>
      <md-button href="http://testconsole.boni.io/#/spots">Spots Registry</md-button>
      <md-button href="/blog">BLOG</md-button>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Favorite">

      </md-button>
    </div>
  </md-toolbar>
  <!-- <md-subheader class="">{{ $state.current.data.pageTitle }}{{ $state.current.data.pageSubtitle?' / ' + $state.current.data.pageSubtitle:'' }}</md-subheader> -->
</div>
<!-- End Header Bar -->
