<!-- Header Bar -->
<div>
  <md-toolbar class="md-toolbar">
    <div class="md-toolbar-tools">
      <a href="/"><h2 style="min-width: 70px;">B<i class="fa fa-bullseye"></i>NI</h2></a>
      <span flex></span>
      <md-button href="/docs">Docs</md-button>
      <md-button href="http://console.boni.io/#/spots">Console</md-button>
      <md-button href="/blog">Blog</md-button>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Favorite"></md-button>
    </div>
  </md-toolbar>
  <!-- <md-subheader class="">{{ $state.current.data.pageTitle }}{{ $state.current.data.pageSubtitle?' / ' + $state.current.data.pageSubtitle:'' }}</md-subheader> -->
</div>
<!-- End Header Bar -->
