/**
 * Reset some basic elements
 */
blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
pre,
ul {
    margin: 0;
    padding: 0;
}
/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}
/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
%vertical-rhythm,
blockquote,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
ul {
    margin-bottom: $spacing-unit / 2;
}
/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}
/**
 * Figures
 */
figure > img {
    display: block;
}
figcaption {
    font-size: $small-font-size;
}
/**
 * Lists
 */
ol,
ul {
    margin-left: $spacing-unit;
}
li {
     > ol,
    > ul {
        margin-bottom: 0;
    }
}
/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $base-font-weight;
}
/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;
    &:visited {
        color: darken($brand-color, 15%);
    }
    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}
/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;
    > :last-child {
        margin-bottom: 0;
    }
}
/**
 * Code formatting
 */
code,
pre {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}
code {
    padding: 1px 5px;
}
pre {
    padding: 8px 12px;
    overflow-x: auto;
    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}
/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;
    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width: calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}
/**
 * Clearfix
 */
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
/**
 * Icons
 */
.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        path {
            fill: $grey-color;
        }
    }
}
.screen-only {
    display: block;
}
.mobile-only {
    display: none;
}
@media screen and (max-width: 780px) {
    .screen-only {
        display: none;
    }
    .mobile-only {
        display: block;
    }
}
h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}
h3.section-subheading {
    font-size: 16px;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
}
.service-heading {
    margin: 15px 0;
    text-transform: none;
}
header {
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #555572;
}
header .intro-text {
    padding-top: 50px;
    padding-bottom: 50px;
}
header .intro-text h1 {
    margin-bottom: 50px;
}
header .intro-text .intro-lead-in {
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
}
header .intro-text .intro-heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
}
header .call-to-action-btn {
    font-size: 1.6rem;
    background: #169CEE;
    color: #fff;
    padding: 15px 20px;
    border-radius: 4px;
}
header .call-to-action-btn:hover {
    background: #168aee;
    color: #fff;
    text-decoration: none;
}
header .call-to-action-btn:link {
    color: #fff;
    text-decoration: none;
}
header .sub-call-to-action-btn {
    margin-left: 20px;
    font-size: 1.6rem;
    background: #fff;
    color: #169CEE;
    padding: 15px 20px;
    border-radius: 4px;
    border: solid 1px;
}
header .sub-call-to-action-btn:hover {
    color: #fff;
    background: #168aee;
    border-color: #168aee;
    text-decoration: none;
}
header .sub-call-to-action-btn:link {
    text-decoration: none;
}
.btn-area {
    padding-top: 60px;
}
.feature {
    -webkit-filter:brightness(30%);
    -moz-filter:brightness(30%);
    filter: url(#brightness);
    filter:brightness(30%);
}
.feature:hover {
    -webkit-filter:brightness(100%);
    -moz-filter:brightness(100%);
    filter: url(#brightness);
    filter:brightness(100%);
    cursor:pointer;
}
.section {
    background: #2195D3;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
}
.section h1 {
    color: #ffffff;
    font-weight: bold;
}
.section p {
    margin-top: 40px;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 1.6rem;
    line-height: 1.6;
}
.section .button {
    background: #ffffff;
    color: #169CEE;
    border-radius: 4px;
    border: none;
    outline: 0;
    height: 43px;
    line-height: 41px;
    margin-left: 0;
}
.section .button:hover {
    background: #DAFBFF;
}
.section .button:link {
    text-decoration: none;
}
.section-white {
    background: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
}
.section-white h1 {
    color: #555572;
    font-weight: bold;
}
.section-white p {
    margin-top: 40px;
    margin-bottom: 30px;
    color: #555572;
    font-size: 1.6rem;
    line-height: 1.6;
}
.section-white .button {
    background: #ffffff;
    color: #169CEE;
    border-radius: 4px;
    border: none;
    outline: 0;
    height: 43px;
    line-height: 41px;
    margin-left: 0;
    border-width: 1px;
    border-style: solid;
}
.section-white .button:hover {
    background: #DAFBFF;
}
.section-white .button:link {
    text-decoration: none;
}
.section-gray {
    background: #52526E;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
}
.section-gray h1 {
    color: #ffffff;
    font-weight: bold;
}
.section-gray p {
    margin-top: 40px;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 1.6rem;
    line-height: 1.6;
}
.section-gray .button {
    background: #ffffff;
    color: #169CEE;
    border-radius: 4px;
    border: none;
    outline: 0;
    height: 43px;
    line-height: 41px;
    margin-left: 0;
}
.section-gray .button:hover {
    background: #DAFBFF;
}
.section-gray .button:link {
    text-decoration: none;
}
@media (min-width: 768px) {
    header .intro-text {
        padding-top: 50px;
        padding-bottom: 100px;
    }
    header .intro-text .intro-lead-in {
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
    }
    header .intro-text .intro-heading {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px;
    }
    .section-gray {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .section-white {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
.action-card {
    cursor: pointer;
}
.action-card .icon {
    margin: 10px 30px 10px 10px;
}
.action-card .title {
    margin-bottom: 10px;
}
.action-card a:hover {
    text-decoration: none;
}
.action-card a {
    text-decoration: none;
}
.action-card:hover {
    background-color: rgba(#c9ddff, 0.83);
}
.doc-section a {
    text-decoration: none;
}
.doc-section a:hover {
    text-decoration: none;
}
