<!DOCTYPE html>
<html  ng-app="BONI">

  {% include head.html %}

  <script>
    $(function() {
      $('a[href*="#"]:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html, body').animate({
              scrollTop: target.offset().top
            }, 500);
            return false;
          }
        }
      });
    });
  </script>

  <body>

    {% include header.html %}

    <div class="row main-view">
      <div class="col-lg-12">
        {{ content }}
      </div>
    </div>

    <!-- {% include footer.html %} -->

  </body>

</html>
